<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Crosstown (East)</key>
	<dict>
		<key>Route</key>
		<string>S. Fruit St. to Industrial Park</string>
		<key>AllLocations</key>
		<array>
			<string>South Fruit St</string>
			<string>Pine St</string>
			<string>Federal Building</string>
			<string>Main St/Pleasant St Extension</string>
			<string>Eagle Square</string>
			<string>Merrimack County Savings Bank</string>
			<string>Franklin St</string>
			<string>Horseshoe Pond Place</string>
			<string>Marriott</string>
			<string>Social Security</string>
			<string>Delta Dental</string>
			<string>NHTI</string>
			<string>Market Basket Fort Eddy Rd</string>
			<string>Fort Eddy Plaza</string>
			<string>Colebrook Bank</string>
			<string>Concord Christian (Pembroke Rd)</string>
			<string>Chenell Dr</string>
			<string>CAP Area Center</string>
			<string>Industrial Park Dr</string>
			<string>Industrial Park/Regional Dr</string>
		</array>
		<key>Locations</key>
		<dict>
			<key>A - South Fruit St</key>
			<array>
				<string>6:24 AM</string>
				<string>7:24 AM</string>
				<string>8:24 AM</string>
				<string>9:44 AM</string>
				<string>10:45 AM</string>
				<string>11:46 AM</string>
				<string>12:49 PM</string>
				<string>1:50 PM</string>
				<string>3:13 PM</string>
				<string>4:17 PM</string>
				<string>5:19 PM</string>
				<string>6:23 PM</string>
			</array>
			<key>B - Eagle Square</key>
			<array>
				<string>6:31 AM</string>
				<string>7:31 AM</string>
				<string>8:31 AM</string>
				<string>9:51 AM</string>
				<string>10:52 AM</string>
				<string>11:55 AM</string>
				<string>12:56 PM</string>
				<string>1:57 PM</string>
				<string>3:20 PM</string>
				<string>4:24 PM</string>
				<string>5:26 PM</string>
			</array>
			<key>C - Horseshoe Pond</key>
			<array>
				<string>6:37 AM</string>
				<string>7:37 AM</string>
				<string>8:37 AM</string>
				<string>9:57 AM</string>
				<string>10:58 AM</string>
				<string>12:01 PM</string>
				<string>1:02 PM</string>
				<string>2:03 PM</string>
				<string>3:26 PM</string>
				<string>4:30 PM</string>
				<string>5:32 PM</string>
			</array>
			<key>D - NHTI</key>
			<array>
				<string>6:40 AM</string>
				<string>7:40 AM</string>
				<string>8:40 AM</string>
				<string>10:00 AM</string>
				<string>11:01 AM</string>
				<string>12:04 PM</string>
				<string>1:05 PM</string>
				<string>2:06 PM</string>
				<string>3:29 PM</string>
				<string>4:33 PM</string>
				<string>5:35 PM</string>
			</array>
			<key>E - Market Basket Ft Eddy</key>
			<array>
				<string>6:44 AM</string>
				<string>7:44 AM</string>
				<string>8:44 AM</string>
				<string>10:04 AM</string>
				<string>11:05 AM</string>
				<string>12:08 PM</string>
				<string>1:09 PM</string>
				<string>2:10 PM</string>
				<string>3:33 PM</string>
				<string>4:37 PM</string>
				<string>5:39 PM</string>
			</array>
			<key>F - Industrial Park Dr</key>
			<array>
				<string>6:51 AM</string>
				<string>7:51 AM</string>
				<string>8:51 AM</string>
				<string>10:11 AM</string>
				<string>11:12 AM</string>
				<string>12:15 PM</string>
				<string>1:16 PM</string>
				<string>2:17 PM</string>
				<string>3:40 PM</string>
				<string>4:44 PM</string>
				<string>5:46 PM</string>
			</array>
		</dict>
	</dict>
	<key>Crosstown (West)</key>
	<dict>
		<key>Route</key>
		<string>Industrial Park to S. Fruit St.</string>
		<key>AllLocations</key>
		<array>
			<string>Industrial Park Dr</string>
			<string>Ind Park Dr/Regional Dr</string>
			<string>53 Regional Dr</string>
			<string>Concord Christian (Regional Dr)</string>
			<string>Regional Dr/Airport Rd</string>
			<string>DHHS Office</string>
			<string>Eagles Bluff</string>
			<string>Everett Arena</string>
			<string>Hannaford Fort Eddy Rd</string>
			<string>Market Basket Fort Eddy Rd</string>
			<string>NHTI</string>
			<string>Delta Dental</string>
			<string>Social Security</string>
			<string>Marriott</string>
			<string>Horseshoe Pond Place</string>
			<string>Franklin St</string>
			<string>Pitman St</string>
			<string>Statehouse</string>
			<string>Pleasant St/Main St</string>
			<string>South St</string>
			<string>Perley St</string>
			<string>District Court</string>
			<string>Memorial Field</string>
			<string>South Fruit St</string>
		</array>
		<key>Locations</key>
		<dict>
			<key>A - Industrial Park Dr</key>
			<array>
				<string>5:50 AM</string>
				<string>6:51 AM</string>
				<string>7:51 AM</string>
				<string>8:51 AM</string>
				<string>10:11 AM</string>
				<string>11:12 AM</string>
				<string>12:15 PM</string>
				<string>1:16 PM</string>
				<string>2:19 PM</string>
				<string>3:43 PM</string>
				<string>4:44 PM</string>
				<string>5:46 PM</string>
			</array>
			<key>B - Eagles Bluff</key>
			<array>
				<string>5:55 AM</string>
				<string>6:56 AM</string>
				<string>7:56 AM</string>
				<string>8:56 AM</string>
				<string>10:16 AM</string>
				<string>11:17 AM</string>
				<string>12:20 PM</string>
				<string>1:21 PM</string>
				<string>2:24 PM</string>
				<string>3:48 PM</string>
				<string>4:49 PM</string>
				<string>5:53 PM</string>
			</array>
			<key>C - Everett Arena</key>
			<array>
				<string>5:58 AM</string>
				<string>6:59 AM</string>
				<string>7:59 AM</string>
				<string>8:59 AM</string>
				<string>10:19 AM</string>
				<string>11:20 AM</string>
				<string>12:23 PM</string>
				<string>1:24 PM</string>
				<string>2:27 PM</string>
				<string>3:51 PM</string>
				<string>4:52 PM</string>
				<string>5:56 PM</string>
			</array>
			<key>D - Market Basket Ft Eddy</key>
			<array>
				<string>6:01 AM</string>
				<string>7:02 AM</string>
				<string>8:02 AM</string>
				<string>9:02 AM</string>
				<string>10:22 AM</string>
				<string>11:23 AM</string>
				<string>12:26 PM</string>
				<string>1:27 PM</string>
				<string>2:30 PM</string>
				<string>3:54 PM</string>
				<string>4:55 PM</string>
				<string>5:59 PM</string>
			</array>
			<key>F - NHTI</key>
			<array>
				<string>6:05 AM</string>
				<string>7:06 AM</string>
				<string>8:06 AM</string>
				<string>9:06 AM</string>
				<string>10:26 AM</string>
				<string>11:27 AM</string>
				<string>12:30 PM</string>
				<string>1:31 PM</string>
				<string>2:34 PM</string>
				<string>3:58 PM</string>
				<string>4:59 PM</string>
				<string>6:03 PM</string>
			</array>
			<key>G - Horseshoe Pond</key>
			<array>
				<string>6:08 AM</string>
				<string>7:09 AM</string>
				<string>8:09 AM</string>
				<string>9:09 AM</string>
				<string>10:29 AM</string>
				<string>11:30 AM</string>
				<string>12:33 PM</string>
				<string>1:34 PM</string>
				<string>2:37 PM</string>
				<string>4:01 PM</string>
				<string>5:02 PM</string>
				<string>6:06 PM</string>
			</array>
			<key>H - State House</key>
			<array>
				<string>6:15 AM</string>
				<string>7:15 AM</string>
				<string>8:15 AM</string>
				<string>9:35 AM</string>
				<string>10:35 AM</string>
				<string>11:36 AM</string>
				<string>12:39 PM</string>
				<string>1:40 PM</string>
				<string>3:03 PM</string>
				<string>4:07 PM</string>
				<string>5:08 PM</string>
				<string>6:12 PM</string>
			</array>
			<key>I - District Court</key>
			<array>
				<string>6:20 AM</string>
				<string>7:20 AM</string>
				<string>8:20 AM</string>
				<string>9:40 AM</string>
				<string>10:41 AM</string>
				<string>11:42 AM</string>
				<string>12:45 PM</string>
				<string>1:46 PM</string>
				<string>3:09 PM</string>
				<string>4:13 PM</string>
				<string>5:15 PM</string>
				<string>6:19 PM</string>
			</array>
			<key>J - South Fruit St</key>
			<array>
				<string>6:24 AM</string>
				<string>7:24 AM</string>
				<string>8:24 AM</string>
				<string>9:44 AM</string>
				<string>10:45 AM</string>
				<string>11:46 AM</string>
				<string>12:49 PM</string>
				<string>1:50 PM</string>
				<string>3:13 PM</string>
				<string>4:17 PM</string>
				<string>5:19 PM</string>
				<string>6:23 PM</string>
			</array>
		</dict>
	</dict>
	<key>Heights (East)</key>
	<dict>
		<key>Route</key>
		<string>St. John&apos;s Church to Walmart</string>
		<key>AllLocations</key>
		<array>
			<string>St. John’s Church</string>
			<string>Capital Shopping Cntr/Storrs</string>
			<string>Main St/Pleasant St Extension</string>
			<string>Eagle Square</string>
			<string>Post office</string>
			<string>Colebrook Bank</string>
			<string>Ormond St/Prescott St</string>
			<string>Ormond St/Christian Ave</string>
			<string>Havenwood</string>
			<string>Christian Ave/Eastside Dr</string>
			<string>Gates St</string>
			<string>Goodwill Store</string>
			<string>Branch Turnpike</string>
			<string>Shaws Loudon Rd</string>
			<string>D’Amante Dr</string>
			<string>Steeplegate Mall</string>
			<string>Walmart</string>
		</array>
		<key>Locations</key>
		<dict>
			<key>A - St. John&apos;s</key>
			<array>
				<string>6:10 AM</string>
				<string>7:13 AM</string>
				<string>8:15 AM</string>
				<string>9:37 AM</string>
				<string>10:39 AM</string>
				<string>11:42 AM</string>
				<string>12:45 PM</string>
				<string>1:48 PM</string>
				<string>3:13 PM</string>
				<string>4:21 PM</string>
				<string>5:29 PM</string>
				<string>6:34 PM</string>
			</array>
			<key>B - Eagle Square</key>
			<array>
				<string>6:24 AM</string>
				<string>7:27 AM</string>
				<string>8:49 AM</string>
				<string>9:51 AM</string>
				<string>10:53 AM</string>
				<string>11:56 AM</string>
				<string>12:59 PM</string>
				<string>2:02 PM</string>
				<string>3:27 PM</string>
				<string>4:35 PM</string>
				<string>5:45 PM</string>
				<string>6:39 PM</string>
			</array>
			<key>C - Post Office</key>
			<array>
				<string>6:29 AM</string>
				<string>7:32 AM</string>
				<string>8:54 AM</string>
				<string>9:56 AM</string>
				<string>10:58 AM</string>
				<string>12:01 PM</string>
				<string>1:04 PM</string>
				<string>2:07 PM</string>
				<string>3:32 PM</string>
				<string>4:40 PM</string>
				<string>5:50 PM</string>
			</array>
			<key>D - Havenwood</key>
			<array>
				<string>6:37 AM</string>
				<string>7:40 AM</string>
				<string>9:02 AM</string>
				<string>10:04 AM</string>
				<string>11:06 AM</string>
				<string>12:09 PM</string>
				<string>1:12 PM</string>
				<string>2:15 PM</string>
				<string>3:40 PM</string>
				<string>4:48 PM</string>
				<string>5:58 PM</string>
			</array>
			<key>E - Steeplegate</key>
			<array>
				<string>6:47 AM</string>
				<string>7:50 AM</string>
				<string>9:12 AM</string>
				<string>10:14 AM</string>
				<string>11:16 AM</string>
				<string>12:19 PM</string>
				<string>1:22 PM</string>
				<string>2:25 PM</string>
				<string>3:50 PM</string>
				<string>4:58 PM</string>
				<string>6:08 PM</string>
			</array>
			<key>F - Walmart</key>
			<array>
				<string>6:51 AM</string>
				<string>7:54 AM</string>
				<string>9:16 AM</string>
				<string>10:18 AM</string>
				<string>11:20 AM</string>
				<string>12:23 PM</string>
				<string>1:26 PM</string>
				<string>2:29 PM</string>
				<string>3:54 PM</string>
				<string>5:02 PM</string>
				<string>6:12 PM</string>
			</array>
		</dict>
	</dict>
	<key>Heights (West)</key>
	<dict>
		<key>Route</key>
		<string>Walmart to St. John&apos;s Church</string>
		<key>AllLocations</key>
		<array>
			<string>Wal-Mart</string>
			<string>Dick’s Sporting Goods</string>
			<string>Alton Woods</string>
			<string>Salisbury Green</string>
			<string>Morning Star</string>
			<string>Christian Ave/Eastside Dr</string>
			<string>Havenwood</string>
			<string>Ormond St</string>
			<string>Ormond St/Prescott St</string>
			<string>Thomas St</string>
			<string>Everett Arena</string>
			<string>Bus Station</string>
			<string>State House</string>
			<string>Main St/Pleasant St</string>
			<string>Kennedy Building</string>
			<string>St. John’s Church</string>
		</array>
		<key>Locations</key>
		<dict>
			<key>A - Walmart</key>
			<array>
				<string>5:50 AM</string>
				<string>6:51 AM</string>
				<string>7:54 AM</string>
				<string>9:16 AM</string>
				<string>10:18 AM</string>
				<string>11:20 AM</string>
				<string>12:23 PM</string>
				<string>1:26 PM</string>
				<string>2:29 PM</string>
				<string>3:54 PM</string>
				<string>5:02 PM</string>
				<string>6:12 PM</string>
			</array>
			<key>B - Havenwood</key>
			<array>
				<string>5:58 AM</string>
				<string>6:59 AM</string>
				<string>8:01 AM</string>
				<string>9:23 AM</string>
				<string>10:25 AM</string>
				<string>11:28 AM</string>
				<string>12:31 PM</string>
				<string>1:34 PM</string>
				<string>2:37 PM</string>
				<string>4:02 PM</string>
				<string>5:10 PM</string>
				<string>6:20 PM</string>
			</array>
			<key>C - Everett Arena</key>
			<array>
				<string>6:01 AM</string>
				<string>7:04 AM</string>
				<string>8:06 AM</string>
				<string>9:28 AM</string>
				<string>10:30 AM</string>
				<string>11:33 AM</string>
				<string>12:36 PM</string>
				<string>1:39 PM</string>
				<string>2:32 PM</string>
				<string>4:07 PM</string>
				<string>5:15 PM</string>
				<string>6:25 PM</string>
			</array>
			<key>D - Bus Station</key>
			<array>
				<string>6:04 AM</string>
				<string>7:07 AM</string>
				<string>8:09 AM</string>
				<string>9:31 AM</string>
				<string>10:33 AM</string>
				<string>11:36 AM</string>
				<string>12:39 PM</string>
				<string>1:42 PM</string>
				<string>2:45 PM</string>
				<string>4:10 PM</string>
				<string>5:18 PM</string>
				<string>6:28 PM</string>
			</array>
			<key>E - State House</key>
			<array>
				<string>6:06 AM</string>
				<string>7:09 AM</string>
				<string>8:11 AM</string>
				<string>9:33 AM</string>
				<string>10:35 AM</string>
				<string>11:38 AM</string>
				<string>12:41 PM</string>
				<string>1:44 PM</string>
				<string>3:09 PM</string>
				<string>4:17 PM</string>
				<string>5:25 PM</string>
				<string>6:30 PM</string>
			</array>
			<key>F - St. John&apos;s</key>
			<array>
				<string>6:10 AM</string>
				<string>7:13 AM</string>
				<string>8:15 AM</string>
				<string>9:37 AM</string>
				<string>10:39 AM</string>
				<string>11:42 AM</string>
				<string>12:45 PM</string>
				<string>1:48 PM</string>
				<string>3:13 PM</string>
				<string>4:21 PM</string>
				<string>5:29 PM</string>
				<string>6:34 PM</string>
			</array>
		</dict>
	</dict>
	<key>Penacook (North)</key>
	<dict>
		<key>Route</key>
		<string>Concord Hospital to Penacook (Briar Pipe apt.)</string>
		<key>AllLocations</key>
		<array>
			<string>Concord Hospital</string>
			<string>Pleasant View</string>
			<string>161 Pleasant St</string>
			<string>Pine St</string>
			<string>Federal Building</string>
			<string>Main St/Pleasant St Extension</string>
			<string>Eagle Square</string>
			<string>Merrimack County Savings</string>
			<string>Franklin St</string>
			<string>Penacook St</string>
			<string>Granite Ave</string>
			<string>NH Prison Complex</string>
			<string>Hood Plant</string>
			<string>Clarke St</string>
			<string>Hutchins St</string>
			<string>Elijah St</string>
			<string>Bog Rd</string>
			<string>Duncraft Store</string>
			<string>Oakbridge Housing V</string>
			<string>Penacook Place</string>
			<string>Snow St</string>
			<string>Abbott St</string>
			<string>Beede St</string>
			<string>Stark St</string>
			<string>Washington St</string>
			<string>Briar Pipe Housing</string>
			<string>Penacook Family Physicians</string>
		</array>
		<key>Locations</key>
		<dict>
			<key>A - Concord Hospital</key>
			<array>
				<string>6:27 AM</string>
				<string>7:26 AM</string>
				<string>8:27 AM</string>
				<string>9:48 AM</string>
				<string>10:49 AM</string>
				<string>11:54 AM</string>
				<string>12:59 PM</string>
				<string>2:04 PM</string>
				<string>3:25 PM</string>
				<string>4:30 PM</string>
				<string>5:34 PM</string>
			</array>
			<key>B - Eagle Square</key>
			<array>
				<string>6:40 AM</string>
				<string>7:41 AM</string>
				<string>8:42 AM</string>
				<string>10:03 AM</string>
				<string>11:04 AM</string>
				<string>12:09 PM</string>
				<string>1:14 PM</string>
				<string>2:19 PM</string>
				<string>3:40 PM</string>
				<string>4:45 PM</string>
				<string>5:44 PM</string>
			</array>
			<key>C - NH Prison</key>
			<array>
				<string>6:47 AM</string>
				<string>7:48 AM</string>
				<string>8:49 AM</string>
				<string>10:10 AM</string>
				<string>11:12 AM</string>
				<string>12:17 PM</string>
				<string>1:22 PM</string>
				<string>2:27 PM</string>
				<string>3:48 PM</string>
				<string>4:53 PM</string>
				<string>5:52 PM</string>
			</array>
			<key>D - Oakbridge</key>
			<array>
				<string>6:53 AM</string>
				<string>7:54 AM</string>
				<string>8:55 AM</string>
				<string>10:16 AM</string>
				<string>11:18 AM</string>
				<string>12:23 PM</string>
				<string>1:28 PM</string>
				<string>2:33 PM</string>
				<string>3:54 PM</string>
				<string>4:58 PM</string>
				<string>5:58 PM</string>
			</array>
			<key>E - Briar Pipe</key>
			<array>
				<string>6:59 AM</string>
				<string>8:00 AM</string>
				<string>9:01 AM</string>
				<string>10:22 AM</string>
				<string>11:24 AM</string>
				<string>12:29 PM</string>
				<string>1:34 PM</string>
				<string>2:39 PM</string>
				<string>4:00 PM</string>
				<string>5:04 PM</string>
				<string>6:06 PM</string>
			</array>
		</dict>
	</dict>
	<key>Penacook (South)</key>
	<dict>
		<key>Route</key>
		<string>Penacook (Briar Pipe apt.) to Concord Hospital</string>
		<key>AllLocations</key>
		<array>
			<string>Briar Pipe Housing</string>
			<string>Washington St</string>
			<string>Meter St</string>
			<string>Beede St</string>
			<string>Abbott St</string>
			<string>Snow St</string>
			<string>Pinehurst</string>
			<string>Cremin St</string>
			<string>Fisherville Laundry</string>
			<string>Bog Rd</string>
			<string>Cumberland Farms</string>
			<string>Hutchins St</string>
			<string>Lake St</string>
			<string>Hood Plant</string>
			<string>NH Prison Complex</string>
			<string>Waverly St</string>
			<string>Penacook St</string>
			<string>Franklin St</string>
			<string>Pitman St</string>
			<string>State House</string>
			<string>Pleasant St/Main St</string>
			<string>Federal Building</string>
			<string>Minot St</string>
			<string>Concord Hospital</string>
		</array>
		<key>Locations</key>
		<dict>
			<key>A - Briar Pipe</key>
			<array>
				<string>6:59 AM</string>
				<string>8:00 AM</string>
				<string>9:01 AM</string>
				<string>10:22 AM</string>
				<string>11:24 AM</string>
				<string>12:29 PM</string>
				<string>1:34 PM</string>
				<string>2:39 PM</string>
				<string>4:00 PM</string>
				<string>5:04 PM</string>
				<string>6:06 PM</string>
			</array>
			<key>B - Cremin St.</key>
			<array>
				<string>7:03 AM</string>
				<string>8:04 AM</string>
				<string>9:05 AM</string>
				<string>10:26 AM</string>
				<string>11:28 AM</string>
				<string>12:33 PM</string>
				<string>1:38 PM</string>
				<string>2:43 PM</string>
				<string>4:04 PM</string>
				<string>5:08 PM</string>
				<string>6:10 PM</string>
			</array>
			<key>C - NH Prison</key>
			<array>
				<string>7:09 AM</string>
				<string>8:10 AM</string>
				<string>9:11 AM</string>
				<string>10:32 AM</string>
				<string>11:34 AM</string>
				<string>12:49 PM</string>
				<string>1:44 PM</string>
				<string>2:49 PM</string>
				<string>4:10 PM</string>
				<string>5:14 PM</string>
				<string>6:16 PM</string>
			</array>
			<key>E - State House</key>
			<array>
				<string>6:20 AM</string>
				<string>7:16 AM</string>
				<string>8:17 AM</string>
				<string>9:38 AM</string>
				<string>10:39 AM</string>
				<string>11:44 AM</string>
				<string>12:49 PM</string>
				<string>1:54 PM</string>
				<string>3:15 PM</string>
				<string>4:20 PM</string>
				<string>5:24 PM</string>
				<string>6:26 PM</string>
			</array>
			<key>E - Concord Hospital</key>
			<array>
				<string>6:27 AM</string>
				<string>7:26 AM</string>
				<string>8:27 AM</string>
				<string>9:48 AM</string>
				<string>10:49 AM</string>
				<string>11:54 AM</string>
				<string>12:59 PM</string>
				<string>2:04 PM</string>
				<string>3:25 PM</string>
				<string>4:30 PM</string>
				<string>5:34 PM</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
